<div class="event">
  <div class="event-date">
    <span class="event-month-small"><%= eventDateNum %></span>
    <span class="event-date-number">
      <!-- prettier-ignore -->
      <% //let mapLink = eventVenueAddress.replace(/\s+/g, '+'); %>
      <% if (eventMon == "01") { %>
      <% eventMon = "JAN"; %>
      <%= eventMon %>
      <% } else if (eventMon == "02") { %>
      <% eventMon = "FEB"; %>
      <%= eventMon %>
      <% } else if (eventMon == "03") { %>
      <% eventMon = "MAR"; %>
      <%= eventMon %>
      <% } else if (eventMon == "04") { %>
      <% eventMon = "APR"; %>
      <%= eventMon %>
      <% } else if (eventMon == "05") { %>
      <% eventMon = "MAY"; %>
      <%= eventMon %>
      <% } else if (eventMon == "06") { %>
      <% eventMon = "JUN"; %>
      <%= eventMon %>
      <% } else if (eventMon == "07") { %>
      <% eventMon = "JUL"; %>
      <%= eventMon %>
      <% } else if (eventMon == "08") { %>
      <% eventMon = "AUG"; %>
      <%= eventMon %>
      <% } else if (eventMon == "09") { %>
      <% eventMon = "SEP"; %>
      <%= eventMon %>
      <% } else if (eventMon == "10") { %>
      <% eventMon = "OCT"; %>
      <%= eventMon %>
      <% } else if (eventMon == "11") { %>
      <% eventMon = "NOV"; %>
      <%= eventMon %>
      <% } else if (eventMon == "12") { %>
      <% eventMon = "DEC"; %>
      <%= eventMon %>
      <% } else { %>
      <%= eventMon %>
      <% } %>
    </span>
  </div>
  <hr class="show-on-mobile" />
  <div class="event-title">
    <%= eventTitle %>
  </div>
  <div class="event-venue">
    <div class="event-venue-name"><%= eventVenueName %></div>
    <div class="event-venue-address">
      <a href="<%= mapsBaseURL + eventVenueAddress %>" class="venue-link">
        <%= eventVenueAddress %></a
      >
    </div>
  </div>
  <div class="event-ticket-link">
    <a
      href="<%= ticketLink %>"
      target="_blank"
      rel="noopener noreferrer"
      class="button"
      >Tickets</a
    >
  </div>
</div>
<!-- /.event -->
